@font-face {
  font-family: "BaiJamjuree";
  src: url('fonts/BaiJamjuree-Bold.ttf');
  src: url('fonts/BaiJamjuree-Medium.ttf') format('truetype'),
       url('fonts/BaiJamjuree-Regular.ttf') format('truetype'),
       url('fonts/BaiJamjuree-SemiBold.ttf') format('truetype'),
       url('fonts/BaiJamjuree-Light.ttf') format('truetype');
}

.index {
  align-items: left;
  border: 1px;
}

img {
  align-items: center;
  align-content: center;
}

h4 {
  text-align: left;
  font-weight: 400;
  color: black;
  margin: 5px;
}

h5 {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
	background-image: linear-gradient(to right, #2BA1E0 0%, #2B6DE0 51%);
  background-clip: text;
  color: transparent;
  margin: 5px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: black;
  margin: 5px;
}

body {
  margin: 0;
  font-family: 'BaiJamjuree', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme {
  background-color: #F3F3F3;
}

code {
  font-family: 'Courier New',
    monospace;
}

input {
  width: 50%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 15px;
  font-family: 'BaiJamjuree', 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background-color: white;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;
  margin: 5px;
  align-content: left;
  align-items: left;
  margin-left: -47%;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  border-radius: 10px;
  color: #FFFFFF;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  justify-content: left;
  text-align: left;
  align-items: left;
  cursor: default;
  background-image: linear-gradient(to right, #2BA1E0 0%, #2B6DE0 51%);
  box-sizing: border-box;
  margin: 15px;
  font: 500 14px BaiJamjuree;
  padding: 1px 10px 3px;
  border-width: 0px;
  height: 30px;
  margin-left: -93.25%;
}
